<nav>
    <a class="menu-item" href="individus/BONTE Pierre-Joseph (1774)/">BONTE Pierre-Joseph (1774)</a>
    <a class="menu-item" href="individus/BONTE Pierre-Joseph (1779)/">BONTE Pierre-Joseph (1779)</a>
    <a class="menu-item" href="individus/BONTE Ursule Joseph (1784)/">BONTE Ursule Joseph (1784)</a>
    <a class="menu-item" href="individus/CAPET Hugues/">CAPET Hugues</a>
    <a class="menu-item" href="individus/DELEMER Marguerite (1876)/">DELEMER Marguerite (1876)</a>
    <a class="menu-item" href="individus/Divers/">Divers</a>
    <a class="menu-item" href="individus/DROULERS Madelaine (1883)/">DROULERS Madelaine (1883)</a>
    <a class="menu-item" href="individus/DROULERS PROUVOST Charles (1838)/">DROULERS PROUVOST Charles (1838)</a>
    <a class="menu-item" href="individus/LEPLAT Emile James/">LEPLAT Emile James</a>
    <a class="menu-item" href="individus/LEPLAT James (mon grand père)/">LEPLAT James (mon grand père)</a>
    <a class="menu-item" href="individus/LONGHAYE Amelie/">LONGHAYE Amelie</a>
    <a class="menu-item" href="individus/LONGHAYE Auguste-Jules-Joseph/">LONGHAYE Auguste-Jules-Joseph</a>
    <a class="menu-item" href="individus/OBRY Christophe/">OBRY Christophe</a>
    <a class="menu-item" href="individus/POLLET Rose Blanche/">POLLET Rose Blanche</a>
    <a class="menu-item" href="individus/PROUVOST Albert (1909)/">PROUVOST Albert (1909)</a>
    <a class="menu-item" href="individus/ROUX Madeleine - Delle (1920)/">ROUX Madeleine - Delle (1920)</a>
    <a class="menu-item" href="individus/SAINT-LEGER André (1870)/">SAINT-LEGER André (1870)</a>
    <a class="menu-item" href="individus/SAINT-LEGER Claude (1897)/">SAINT-LEGER Claude (1897)</a>
    <a class="menu-item" href="individus/SAINT-LEGER Denis (1835)/">SAINT-LEGER Denis (1835)</a>
    <a class="menu-item" href="individus/SAINT-LEGER Francine (1926)/">SAINT-LEGER Francine (1926)</a>
    <a class="menu-item" href="individus/SAINT-LEGER Georges (1844)/">SAINT-LEGER Georges (1844)</a>
    <a class="menu-item" href="individus/SAINT-LEGER Philippe (1787)/">SAINT-LEGER Philippe (1787)</a>
    <a class="menu-item" href="individus/SAINT-LEGER Philippe (1904)/">SAINT-LEGER Philippe (1904)</a>
    <a class="menu-item" href="individus/SAINT-LEGER Pierre Joseph (1756)/">SAINT-LEGER Pierre Joseph (1756)</a>
    <a class="menu-item" href="individus/SAINT-LEGER Victor (1818)/">SAINT-LEGER Victor (1818)</a>
    <a class="menu-item" href="individus/THIEFFRY Alain/">THIEFFRY Alain</a>
    <a class="menu-item" href="individus/WATTINNE Agnes (1904)/">WATTINNE Agnes (1904)</a>
    <a class="menu-item" href="individus/WATTINNE Eugène (1875 père)/">WATTINNE Eugène (1875 père)</a>
    <a class="menu-item" href="individus/WATTINNE Eugène (1903 frère)/">WATTINNE Eugène (1903 frère)</a>
    <a class="menu-item" href="individus/WATTINNE Eugène-Henri-Joseph (1849 grand-père)/">WATTINNE Eugène-Henri-Joseph (1849 grand-père)</a>
</nav>

