
<nav>
  <a id="menu-recits" class="menu-item" href="../recits/index.html">
    <span class="icon">📖</span>
    <span class="label">Récits</span>
  </a>
  <a id="menu-photos" class="menu-item" href="../photos/index.html">
    <span class="icon">📷</span>
    <span class="label">Photos</span>
  </a>
  <a id="menu-arbres" class="menu-item" href="../arbres/index.html">
    <span class="icon">🌳</span>
    <span class="label">Arbres</span>
  </a>
  <a id="menu-lieux" class="menu-item" href="../lieux/index.html">
      <span class="icon">🏠</span>
      <span class="label">Lieux</span>
  </a>
  <a id="menu-individus" class="menu-item" href="../individus/index.html">
    <span class="icon">👤</span>
    <span class="label">Individus</span>
  </a>
</nav>

